body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 20px;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

#comparador {
    color: #333;
}

#tabela1 {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(231, 231, 231);
}

.dark-mode #tabela1 {
    background-color: #181818; 
    color: #fff; 
}
#tabela2 {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(231, 231, 231);
}

.dark-mode #tabela2 {
    background-color: #181818; 
    color: #fff; 
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.dark-mode #resultado {
    border: 1px solid #303030;
    background-color: #020202
}

.butao {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.dark-mode .butao {
    background-color: white;
    color: #000;
}

.butao:hover {
    background-color: white;
    color: black;
    border: 2px solid #000;
}

.dark-mode .butao:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.Processar-endereco {
    position: absolute;
    top: 4px;
    right: 170px; 
}

#adicionarIp {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
}

.dark-mode #adicionarIp {
    background-color: #1a1a1a;
    color: #fff;
}

#novoIp {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.dark-mode #novoIp {
    background-color: #181818;
    color: #fff;
    border: 1px solid #555;
}
