body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Cor de fundo padrão para o modo claro */
    color: #000; /* Cor do texto no modo claro */
}

.dark-mode {
    font-family: Arial, sans-serif;
    background-color: #000; /* Cor de fundo para o modo escuro */
    color: #fff; /* Cor do texto no modo escuro */
}

#enderecoInput {
    width: 80%;
    padding: 5px;
    margin: 10px 0;
    background-color: rgb(231, 231, 231);
}

.dark-mode #enderecoInput{
    width: 80%;
    padding: 5px;
    margin: 10px 0;
    background-color: #181818; 
    color: #fff; 
}

#output {
    margin-top: 10px;
}
#modoSelect {
    margin-top: 10px;
    display: inline-block;
}

